body{
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /*line-height: 30px;*/
    /*margin-top: 50px;  Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.full {
    background: url('../img/542.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
    color: white;
    display: none;
}

.frame{
    background-color: #FAFAFA;
}

hr{
    max-width: 1000px;
    background-color: #FAFAFA;
    height: 1px;
}

/* navbar */
.navbar-default {
    border-color: #FFFFFF;
}
/* title */
.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-brand:hover{
    color:#EEEEEE;
}
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover{
    color:#EEEEEE;
}
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #03A9F4;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
color: #555;
background-color: #D5D5D5;
}

header{

}

footer{
    background-color: #051f33;
    color: white;
    height: 100px;
}

.social{
    font-size: 20px;
}

.ff{
    padding-top: 45px;
}

.tit{
    font-size: 16px;
}

.test{
    background: url('play.svg') ;
  /*background-image: url(http://material-design.storage.googleapis.com/images/play.svg);*/
  background-size: 72px 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  height: 400px;
  width: 400px;
  bottom: 0;
  content: '';
  opacity: 0.5;
  position: absolute;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#service img{
    max-width: 150px;
}



#client img{
    /*width: 150px;*/
    height: 80px;
    margin-bottom: 50px;
}

.form-section{
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1000px;
}

.title-section{
    font-size: 30px;
    /*line-height: 48px;*/
    font-weight: 400;
    /*color:#33536d;*/
    color:#33536d;
}

.description-section{
    max-width: 420px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 1.875em;
    color: #748796;
}

.work-section {
    margin-top: 0px;
    margin-bottom: 100px;

}

.work-description {
 max-width: 420px;
 /*padding-top:10px;*/
 font-size:16px;
 color:#748796;
 line-height:1.875em;
 text-align: justify;
}

.service-description{
    font-size:16px;
    line-height: 1.875em;
     color:#748796;
}

.title-work-description{
    color:#33536d;
}

.title-service-description{
    color:#03A9F4;
}

dl{
    line-height: 1.875em;
    color:#748796;
    font-size: 14px;
}

blockquote{
    font-size: 16px;
    border-left: none;
    line-height: 1.875em;
    max-width: 420px;
        color: #748796;
}

.span {
    margin-bottom: 50px;
    display: none;
}

h1{
    font-size: 60px;
    line-height: 72px;
    font-weight: 300;
    opacity: 100;
}

.subtitle{
    color:#FFFFFF;
    font-weight: 400;
}

.slogan {
    margin-left: 0px;
    margin-right: 0px ;
    padding-top:auto;
    padding-bottom: auto;
    height: 80px;
    background-color: rgba(0,0,0,0);
    color:white;
    border-radius: 0px;
    text-align: center;
}

pe{
    font-size: 16px;
    max-width: 480px;
    line-height: 150%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

}


pe + pe {
    text-indent: 2em;
    margin-top: 0;
}

.block-center{
    margin-left: auto;
    margin-right: auto;

}






